/.metadata/
bowlingBall.jpg
*.csv
*.log
derby.log
/bin/
derby.log
war/_view/.vs/_view/FileContentIndex/bc3bfeff-363f-4a78-ae3c-e0410a2cbf97.vsidx
war/_view/.vs/_view/v17/.wsuo
war/_view/.vs/ProjectSettings.json
war/_view/.vs/slnx.sqlite
war/_view/.vs/_view/FileContentIndex/2bc24555-22b4-4962-a896-cf778741115f.vsidx
war/_view/.vs/_view/FileContentIndex/6a727b3f-814c-4f7b-b53e-f670b959d40b.vsidx
