<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
	<servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EstablishmentRegServlet</servlet-name>
  	<servlet-class>edu.ycp.cs320.lab02.servlet.EstablishmentRegServlet</servlet-class></servlet>
  <servlet>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.AccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.GameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountSignUpServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.AccountSignUpServlet</servlet-class>
  </servlet>
  	
  	<servlet>
  	<servlet-name>StartBowlingServlet</servlet-name>
  	<servlet-class>edu.ycp.cs320.lab02.servlet.StartBowlingServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  	<servlet-name>ShotServlet</servlet-name>
  	<servlet-class>edu.ycp.cs320.lab02.servlet.ShotServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  	<servlet-name>BallArsenalServlet</servlet-name>
  	<servlet-class>edu.ycp.cs320.lab02.servlet.BallArsenalServlet</servlet-class>
  	</servlet>
  	
  	<!-- AJAX servlets. -->
  
  <!-- AJAX servlets. -->

  <!-- Servlet mappings -->
	<servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EstablishmentRegServlet</servlet-name>
  	<url-pattern>/establishmentReg</url-pattern></servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AccountServlet</servlet-name>
  	<url-pattern>/logIn</url-pattern></servlet-mapping>
  	
  	  <servlet-mapping>
  	<servlet-name>AccountSignUpServlet</servlet-name>
  	<url-pattern>/signUp</url-pattern></servlet-mapping>
  	
  	<servlet-mapping>
  	<servlet-name>StartBowlingServlet</servlet-name>
  	<url-pattern>/startBowling</url-pattern></servlet-mapping>
  	  	<servlet-mapping>
  	<servlet-name>GameServlet</servlet-name>
  	<url-pattern>/game</url-pattern></servlet-mapping>
  	
  	<servlet-mapping>
  	<servlet-name>ShotServlet</servlet-name>
  	<url-pattern>/shot</url-pattern></servlet-mapping>
  	
  	<servlet-mapping>
  	<servlet-name>BallArsenalServlet</servlet-name>
  	<url-pattern>/ballArsenal</url-pattern></servlet-mapping>

  <!--  AJAX servlet mappings. -->
  

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
